<p id="notice"><%= notice %></p>
<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="row">
            <div class="col-sm-8">
                <h4 class="page-title">Soldier Profile</h4>
            </div>
            
            <div class="col-sm-4 text-right m-b-30">
               <!-- <a href="edit-profile.html" class="btn btn-primary rounded"><i class="fa fa-plus"></i> Edit Profile</a> -->
            </div>
        </div>
        <div class="card-box">
            <div class="row">
                <div class="col-md-12">
                    <div class="profile-view">
                        <div class="profile-img-wrap">
                            <div class="profile-img">
                                <a href="#"><img class="avatar" src="assets/img/user.jpg" alt=""></a>
                            </div>
                        </div>
                        <div class="profile-basic">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="profile-info-left">
                                        <h3 class="user-name m-t-0 m-b-0"><%= @user.username%></h3>
                                        <small class="text-muted"><%= @user.personel_detail.rank%></small>
                                        <div class="staff-id">Army No : <%= @user.army_no %></div>
                                        <div class="staff-msg"><a href="/profiles/<%= @user.id %>/embodiment_report" class="btn btn-primary">Print Emodiment Report</a></div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <ul class="personal-info">
                                        <li>
                                            <span class="title">Phone:</span>
                                            <span class="text"><a href=""><%= @user.personel_detail.mobile_no %></a></span>
                                        </li>
                                        <li>
                                            <span class="title">Email:</span>
                                            <span class="text"><a href=""><%= @user.email %></a></span>
                                        </li>
                                        <li>
                                            <span class="title">Birthday:</span>
                                            <span class="text"><%= @user.personel_detail.date_of_birth %></span>
                                        </li>
                                        <li>
                                            <span class="title">Address:</span>
                                            <span class="text"><%= @user.personel_detail.home_address.get_address%></span>
                                        </li>
                                        <li>
                                            <span class="title">Date of Enrolment:</span>
                                            <span class="text"><%= @user.personel_detail.date_of_enrolment %></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="card-box m-b-0">
                    <h3 class="card-title">Courses and trade</h3>
                    <div class="skills">
                        <span><%= @user.professional_detail.army_course %></span>
                        <span><%= @user.professional_detail.local_course %></span>
                        <span><%= @user.personel_detail.trade %></span>
                    </div>
                </div>
                </br>
                <div class="card-box m-b-0">
                    <h3 class="card-title">Sports and Achievements</h3>
                    <div class="skills">
                        <% @user.personel_detail.sports.each do |a| %>
                            <span><%= a.level %> level player of <%= a.sport_name %></span>
                        <% end %>
                        <% @user.personel_detail.achievements.each do |a| %>
                            <span><%= a.level %> level <%= a.title %> in <%= a.category %></span>
                        <% end %>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card-box">
                    <h3 class="card-title">Education Informations</h3>
                    <div class="experience-box">
                        <ul class="experience-list">
                            <% @user.personel_detail.educations.each do |e|%>
                                <li>
                                    <div class="experience-user">
                                        <div class="before-circle"></div>
                                    </div>
                                    <div class="experience-content">
                                        <div class="timeline-content">
                                            <a href="#/" class="name"><%= e.institute_name%></a>
                                            <div><%= e.degree_name %></div>
                                            <span class="time"><%= e.from.year %> - <% e.to.year %></span>
                                        </div>
                                    </div>
                                </li>
                            <% end %>
                        </ul>
                    </div>
                </div>
                <div class="card-box m-b-0">
                    <h3 class="card-title">Service Details</h3>
                    <div class="experience-box">
                        <ul class="experience-list">
                            <% @user.professional_detail.rule_periods.each do |rp| %>
                            <li>
                                <div class="experience-user">
                                    <div class="before-circle"></div>
                                </div>
                                <div class="experience-content">
                                    <div class="timeline-content">
                                        <a href="#/" class="name"><%= rp.rule %></a>
                                        <span class="time"><%= rp.from.strftime('%d %B %Y') rescue "" %> - <%= rp.to.strftime('%d %B %Y') rescue "" %> (<%= rp.humanize_duration %>)</span>
                                    </div>
                                </div>
                            </li>
                            <% end %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

