<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="row">
            <div class="col-sm-8">
                <h4 class="page-title">Jawans Investments</h4>
            </div>
        </div>
       
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                     <table class="table table-striped custom-table m-b-0">
                        <thead>
                            <tr>
                                <th>Army no</th>
                                <th style="min-width:200px;">Name</th>
                                <th>Category</th>
                                <th class="text-right">Level</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @total_achievements.each do |ti|%>
                            <tr>
                                <td><%= ti.army_no %></td>
                                <td style="min-width:200px;">
                                    <a href="#" class="avatar"><%= ti.user.username[0] rescue 'X' %></a>
                                    <h2><a href="client-profile.html"><%= ti.user.username %> <span><%= ti.rank %></span></a></h2>
                                </td>
                                <td>
                                    <div class="dropdown action-label">
                                        <%= ti.achievements.last.category %>
                                    </div>
                                </td>
                                <td class="text-left">
                                    <%= ti.achievements.last.level %>
                                </td>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
</div>