<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-lg-3">
                <div class="dash-widget clearfix card-box">
                    <span class="dash-widget-icon"><i class="fa fa-cubes" aria-hidden="true"></i></span>
                    <div class="dash-widget-info">
                        <h3><%= @total_jawans%></h3>
                        <span>Total Jawans</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-3">
                <div class="dash-widget clearfix card-box">
                    <span class="dash-widget-icon"><i class="fa fa-usd" aria-hidden="true"></i></span>
                    <div class="dash-widget-info">
                        <h3><%= @total_on_field.count%></h3>
                        <span>On Field</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-3">
                <div class="dash-widget clearfix card-box">
                    <span class="dash-widget-icon"><i class="fa fa-diamond"></i></span>
                    <div class="dash-widget-info">
                        <h3><%= @total_on_peace%></h3>
                        <span>On Peace</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-3">
                <div class="dash-widget clearfix card-box">
                    <span class="dash-widget-icon"><i class="fa fa-user" aria-hidden="true"></i></span>
                    <div class="dash-widget-info">
                        <h3><%= @total_on_leave.count %></h3>
                        <span>On Leave</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6 text-center">
                        <div class="card-box">
                            <h3 class="card-title">Trade Status</h3>
                            <div id="bar-charts"></div>
                        </div>
                    </div>
                    <div class="col-md-6 text-center">
                        <div class="card-box">
                            <h3 class="card-title">State</h3>
                            <div id="pie-charts"></div>
                        </div>
                    </div>
                    <div class="col-md-6 text-center">
                        <div class="card-box">
                            <h3 class="card-title">Sports</h3>
                            <div id="line-charts"></div>
                        </div>
                    </div>
                    <div class="col-md-6 text-center">
                        <div class="card-box">
                            <h3 class="card-title">Language</h3>
                            <div id="area-charts"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-table">
                    <div class="panel-heading">
                        <h3 class="panel-title">On Leave</h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped custom-table m-b-0">
                                <thead>
                                    <tr>
                                        <th>Army No</th>
                                        <th>Name</th>
                                        <th>Return Date</th>
                                        <th>Total Count</th>
                                        <th>Rule</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% @total_on_leave.last(5).each do |tol| %>
                                    <tr>
                                        <td><a href="invoice-view.html"><%= tol.army_no %></a></td>
                                        <td>
                                            <h2><a href="#"><%= tol.user.username %></a></h2>
                                        </td>
                                        <td><%= tol.leave_records.last.to rescue nil %></td>
                                        <td><%= tol.leave_records.last.total_no_of_days rescue nil %></td>
                                        <td>
                                            <span class=<%= (tol.leave_records.last.type_of_leave == "AL" ? "label-success-border" :  "label-warning-border") rescue "label label-danger-border" %>><%= tol.leave_records.last.type_of_leave rescue nil %></span>
                                        </td>
                                    </tr>
                                    <% end %>
                                   
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <a href="/on_leave_index" class="text-primary">View all jawans on leave</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-table">
                    <div class="panel-heading">
                        <h3 class="panel-title">On Field</h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">	
                            <table class="table table-striped custom-table m-b-0">
                                <thead>
                                    <tr>
                                        <th>Army no</th>
                                        <th>Name</th>
                                        <th>From date</th>
                                        <th>To Date</th>
                                        <th>Total number of days</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% @total_on_field.last(5).each do |tof|%>
                                    <tr>
                                        <td><a href="invoice-view.html"><%= tof.army_no %></a></td>
                                        <td>
                                            <h2><a href="#"><%= tof.user.username %></a></h2>
                                        </td>
                                        <td><%= tof.posting_records.last.from%></td>
                                        <td><%= tof.posting_records.last.to%></td>
                                        <td><%= tof.posting_records.last.total_field_duty_day%></td>
                                    </tr>
                                    <% end %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <a href="/on_field_index" class="text-primary">View all jawans on Field duty</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-table">
                    <div class="panel-heading">
                        <h3 class="panel-title">Clients</h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped custom-table m-b-0">
                                <thead>
                                    <tr>
                                        <th>Army no</th>
                                        <th style="min-width:200px;">Name</th>
                                        <th>Category</th>
                                        <th class="text-right">Level</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% @total_achievements.last(5).each do |ti|%>
                                    <tr>
                                        <td><%= ti.army_no %></td>
                                        <td style="min-width:200px;">
                                            <a href="#" class="avatar"><%= ti.user.username[0] rescue 'X' %></a>
                                            <h2><a href="client-profile.html"><%= ti.user.username %> <span><%= ti.rank %></span></a></h2>
                                        </td>
                                        <td>
                                            <div class="dropdown action-label">
                                                <%= ti.achievements.last.category %>
                                            </div>
                                        </td>
                                        <td class="text-left">
                                            <%= ti.achievements.last.level %>
                                        </td>
                                    </tr>
                                    <% end %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <a href="/achievements_index" class="text-primary">View all achievements</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-table">
                    <div class="panel-heading">
                        <h3 class="panel-title">Investments</h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped custom-table m-b-0">
                                <thead>
                                    <tr>
                                        <th class="col-md-3">Army No </th>
                                        <th class="col-md-3">Jawan Name </th>
                                        <th class="col-md-3">Amount Invested</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% @total_investments.last(5).each do |ti| %>
                                        <% if !ti.nil? %>
                                        <tr>
                                            <td>
                                                <h2><a href="project-view.html"></a><%= ti.army_no %></a></h2>
                                                <small class="block text-ellipsis">
                                                    <span class="text-xs"><%= ti.investments.size %></span> <span class="text-muted">Investments, </span>
                                                    <span class="text-xs"><%= ti.loans.size %></span> <span class="text-muted">Loan</span>
                                                </small>
                                            </td>
                                            <td><%= ti.user.username %></td>
                                            <td>
                                                <%= ti.investments.map(&:amount).reduce(&:+)%>
                                            </td>
                                        </tr>
                                        <% end %>
                                    <% end %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <a href="/investments_index" class="text-primary">View all investments</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="notification-box">
        <div class="msg-sidebar notifications msg-noti">
            <div class="topnav-dropdown-header">
                <span>Messages</span>
            </div>
            <div class="drop-scroll msg-list-scroll">
                <ul class="list-box">
                    <li>
                        <a href="chat.html">
                            <div class="list-item">
                                <div class="list-left">
                                    <span class="avatar">R</span>
                                </div>
                                <div class="list-body">
                                    <span class="message-author">Richard Miles </span>
                                    <span class="message-time">12:28 AM</span>
                                    <div class="clearfix"></div>
                                    <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="chat.html">
                            <div class="list-item new-message">
                                <div class="list-left">
                                    <span class="avatar">J</span>
                                </div>
                                <div class="list-body">
                                    <span class="message-author">John Doe</span>
                                    <span class="message-time">1 Aug</span>
                                    <div class="clearfix"></div>
                                    <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="chat.html">
                            <div class="list-item">
                                <div class="list-left">
                                    <span class="avatar">T</span>
                                </div>
                                <div class="list-body">
                                    <span class="message-author"> Tarah Shropshire </span>
                                    <span class="message-time">12:28 AM</span>
                                    <div class="clearfix"></div>
                                    <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="chat.html">
                            <div class="list-item">
                                <div class="list-left">
                                    <span class="avatar">M</span>
                                </div>
                                <div class="list-body">
                                    <span class="message-author">Mike Litorus</span>
                                    <span class="message-time">12:28 AM</span>
                                    <div class="clearfix"></div>
                                    <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="chat.html">
                            <div class="list-item">
                                <div class="list-left">
                                    <span class="avatar">C</span>
                                </div>
                                <div class="list-body">
                                    <span class="message-author"> Catherine Manseau </span>
                                    <span class="message-time">12:28 AM</span>
                                    <div class="clearfix"></div>
                                    <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="chat.html">
                            <div class="list-item">
                                <div class="list-left">
                                    <span class="avatar">D</span>
                                </div>
                                <div class="list-body">
                                    <span class="message-author"> Domenic Houston </span>
                                    <span class="message-time">12:28 AM</span>
                                    <div class="clearfix"></div>
                                    <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="chat.html">
                            <div class="list-item">
                                <div class="list-left">
                                    <span class="avatar">B</span>
                                </div>
                                <div class="list-body">
                                    <span class="message-author"> Buster Wigton </span>
                                    <span class="message-time">12:28 AM</span>
                                    <div class="clearfix"></div>
                                    <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="chat.html">
                            <div class="list-item">
                                <div class="list-left">
                                    <span class="avatar">R</span>
                                </div>
                                <div class="list-body">
                                    <span class="message-author"> Rolland Webber </span>
                                    <span class="message-time">12:28 AM</span>
                                    <div class="clearfix"></div>
                                    <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="chat.html">
                            <div class="list-item">
                                <div class="list-left">
                                    <span class="avatar">C</span>
                                </div>
                                <div class="list-body">
                                    <span class="message-author"> Claire Mapes </span>
                                    <span class="message-time">12:28 AM</span>
                                    <div class="clearfix"></div>
                                    <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="chat.html">
                            <div class="list-item">
                                <div class="list-left">
                                    <span class="avatar">M</span>
                                </div>
                                <div class="list-body">
                                    <span class="message-author">Melita Faucher</span>
                                    <span class="message-time">12:28 AM</span>
                                    <div class="clearfix"></div>
                                    <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="chat.html">
                            <div class="list-item">
                                <div class="list-left">
                                    <span class="avatar">J</span>
                                </div>
                                <div class="list-body">
                                    <span class="message-author">Jeffery Lalor</span>
                                    <span class="message-time">12:28 AM</span>
                                    <div class="clearfix"></div>
                                    <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="chat.html">
                            <div class="list-item">
                                <div class="list-left">
                                    <span class="avatar">L</span>
                                </div>
                                <div class="list-body">
                                    <span class="message-author">Loren Gatlin</span>
                                    <span class="message-time">12:28 AM</span>
                                    <div class="clearfix"></div>
                                    <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="chat.html">
                            <div class="list-item">
                                <div class="list-left">
                                    <span class="avatar">T</span>
                                </div>
                                <div class="list-body">
                                    <span class="message-author">Tarah Shropshire</span>
                                    <span class="message-time">12:28 AM</span>
                                    <div class="clearfix"></div>
                                    <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="topnav-dropdown-footer">
                <a href="chat.html">See all messages</a>
            </div>
        </div>
    </div>			
</div>
<script>
    $(document).ready(function() {
	
	// Area Chart
    Morris.Bar({
		element: 'area-charts',
		data: gon.data,
		xkey: 'y',
		ykeys: 'a',
		labels: ['Total Count', 'Language'],
		lineColors: ['#00c5fb','#0253cc'],
		lineWidth: '3px',
		resize: true,
		redraw: true
    });

	// Bar Chart
	Morris.Bar({
		element: 'bar-charts',
		data: gon.trade_data,
		xkey: 'y',
		ykeys: 'a',
		labels: ['Total Count', 'Trade'],
		lineColors: ['#00c5fb','#0253cc'],
		lineWidth: '3px',
		barColors: ['#00c5fb','#0253cc'],
		resize: true,
		redraw: true
	});
	
	// Line Chart
	
	Morris.Donut({
		element: 'line-charts',
		data: gon.state_data,
		resize: true,
		redraw: true
	});
	
	// Donut Chart
		
	Morris.Donut({
		element: 'pie-charts',
		data: gon.sport_data,
		resize: true,
		redraw: true
	});
		
  });
</script>
