
<div class="account-page">
  <div class="container">
    <h3 class="account-title">Login</h3>
    <div class="account-box">
      <div class="account-wrapper">
        <div class="account-logo">
          <a href="index.html"><img src="/landing_page/img/logo.gif" alt="Indian Territorial Army"></a>
        </div>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-group form-focus">
            <%= f.label :email, class: "control-label"%>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control floating" %>
          </div>
          <div class="form-group form-focus">
            <%= f.label :password, class: "control-label" %><br />
            <%= f.password_field :password, autocomplete: "current-password", class: "form-control floating" %>
          </div>
          <div class="form-group text-center">
            <%= f.submit "Login", class: "btn btn-success btn-block account-btn" %>
          </div>
          <div class="text-center">
            <%= render "devise/shared/links" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


