<%= form_with(model: personel_detail, local: true) do |form| %>
  <div class="row">
    <% if personel_detail.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(personel_detail.errors.count, "error") %> prohibited this personel_detail from being saved:</h2>

        <ul>
        <% personel_detail.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="col-sm-6">
      <div class="form-group">
        <%= form.label :army_no, class: "control-label" %>
        <%= form.text_field :army_no, class: "form-control" %>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group">
        <%= form.label :father_name, class: "control-label" %>
        <%= form.text_field :father_name, class: "form-control" %>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group">
        <%= form.label :rank, class: "control-label" %>
        <%= form.text_field :rank, class: "form-control" %>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group">
        <%= form.label :appointment, class: "control-label" %>
        <%= form.text_field :appointment, class: "form-control" %>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group">
        <%= form.label :name, class: "control-label" %>
        <%= form.text_field :name, class: "form-control" %>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group">
        <%= form.label :religion, class: "control-label" %>
        <%= form.text_field :religion, class: "form-control" %>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group">
        <%= form.label :main_class, class: "control-label" %>
        <%= form.text_field :main_class, class: "form-control" %>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group">
        <%= form.label :sub_class, class: "control-label" %>
        <%= form.text_field :sub_class, class: "form-control" %>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group">
        <%= form.label :med_cat, class: "control-label" %>
        <%= form.text_field :med_cat, class: "form-control" %>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group">
        <%= form.label :mothertongue, class: "control-label" %>
        <%= form.text_field :mothertongue, class: "form-control" %>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group">
        <%= form.label :date_of_enrolment, class: "control-label" %>
        <%= form.text_field :date_of_enrolment, class: "form-control datetimepicker" %>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group">
        <%= form.label :date_of_birth, class: "control-label" %>
        <%= form.text_field :date_of_birth, class: "form-control datetimepicker" %>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group">
        <%= form.label :age_on_enrolment, class: "control-label" %>
        <%= form.text_field :age_on_enrolment, class: "form-control" %>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group">
        <%= form.label :attestation, class: "control-label" %>
        <%= form.text_field :attestation, class: "form-control" %>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group">
        <%= form.label :date_of_attestation, class: "control-label" %>
        <%= form.text_field :date_of_attestation, class: "form-control datetimepicker" %>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group">
        <%= form.label :driving_license_no, class: "control-label" %>
        <%= form.text_field :driving_license_no, class: "form-control" %>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group">
        <%= form.label :mobile_no, class: "control-label" %>
        <%= form.text_field :mobile_no, class: "form-control" %>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group">
        <%= form.label :adhar_no, class: "control-label" %>
        <%= form.text_field :adhar_no, class: "form-control" %>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group">
        <%= form.label :pancard_no, class: "control-label" %>
        <%= form.text_field :pancard_no, class: "form-control" %>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group">
        <%= form.label :email, class: "control-label" %>
        <%= form.text_field :email, class: "form-control" %>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group">
        <%= form.label :photo, class: "control-label" %>
        <%= form.file_field :photo, class: "form-control" %>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group">
        <%= form.label :family_photo, class: "control-label" %>
        <%= form.file_field :family_photo, class: "form-control" %>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group">
        <%= form.label :trade, class: "control-label" %>
        <%= form.text_field :trade, class: "form-control" %>
      </div>
    </div>
    <div class="row"> 
      <div class="m-t-20 text-center">
        <%= form.submit "Save JCO's/OR's", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
