<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @personel_detail.id %>
</p>

<p>
  <strong>Army no:</strong>
  <%= @personel_detail.army_no %>
</p>

<p>
  <strong>Father name:</strong>
  <%= @personel_detail.father_name %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @personel_detail.rank %>
</p>

<p>
  <strong>Appointment:</strong>
  <%= @personel_detail.appointment %>
</p>

<p>
  <strong>Name:</strong>
  <%= @personel_detail.name %>
</p>

<p>
  <strong>Religion:</strong>
  <%= @personel_detail.religion %>
</p>

<p>
  <strong>Main class:</strong>
  <%= @personel_detail.main_class %>
</p>

<p>
  <strong>Sub class:</strong>
  <%= @personel_detail.sub_class %>
</p>

<p>
  <strong>Med cat:</strong>
  <%= @personel_detail.med_cat %>
</p>

<p>
  <strong>Mothertongue:</strong>
  <%= @personel_detail.mothertongue %>
</p>

<p>
  <strong>Date of enrolment:</strong>
  <%= @personel_detail.date_of_enrolment %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @personel_detail.date_of_birth %>
</p>

<p>
  <strong>Age on enrolment:</strong>
  <%= @personel_detail.age_on_enrolment %>
</p>

<p>
  <strong>Attestation:</strong>
  <%= @personel_detail.attestation %>
</p>

<p>
  <strong>Date of attestation:</strong>
  <%= @personel_detail.date_of_attestation %>
</p>

<p>
  <strong>Driving license no:</strong>
  <%= @personel_detail.driving_license_no %>
</p>

<p>
  <strong>Mobile no:</strong>
  <%= @personel_detail.mobile_no %>
</p>

<p>
  <strong>Adhar no:</strong>
  <%= @personel_detail.adhar_no %>
</p>

<p>
  <strong>Pancard no:</strong>
  <%= @personel_detail.pancard_no %>
</p>

<p>
  <strong>Email:</strong>
  <%= @personel_detail.email %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @personel_detail.photo %>
</p>

<p>
  <strong>Family photo:</strong>
  <%= @personel_detail.family_photo %>
</p>

<p>
  <strong>User:</strong>
  <%= @personel_detail.user_id %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @personel_detail.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @personel_detail.updated_at %>
</p>

<p>
  <strong>Trade:</strong>
  <%= @personel_detail.trade %>
</p>

<%= link_to 'Edit', edit_personel_detail_path(@personel_detail) %> |
<%= link_to 'Back', personel_details_path %>
