<div class="page-wrapper" style="margin-left: 230px !important;">
	<div class="content container-fluid">
		<div class="row">
			<div class="col-xs-4">
				<h4 class="page-title">Leave Records</h4>
			</div>
			<div class="col-xs-8 text-right m-b-30">
				<a href="#" class="btn btn-primary pull-right rounded" data-toggle="modal" data-target="#add_leave_record"><i class="fa fa-plus"></i> Add Leave Records</a>
				<div class="view-icons">
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="table-responsive">
					<table class="table table-striped custom-table datatable">
						<thead>
							<tr>
								<th style="width:30%;">Name</th>
								<th>Army No</th>
								<th>From Date</th>
								<th>To Date</th>
								<th>Type of leave</th>
								<th>Rejoining Date</th>
								<th>Return On Time</th>
								<th class="text-right">Action</th>
							</tr>
						</thead>
						<tbody>
							<% @leave_records.each do |leave_record| %>
								<tr>
									<td>
										<a href="profile.html" class="avatar">J</a>
										<h2><a href="profile.html"><%= leave_record.professional_detail.user.username %></a></h2>
									</td>
									<td><%= leave_record.professional_detail.army_no %></td>
									<td><%= leave_record.from %></td>
									<td><%= leave_record.to %></td>
									<td><%= leave_record.type_of_leave %></td>
									<td><%= leave_record.date_of_rejoining %></td>
									<td><%= leave_record.not_returned_on_date %></td>
									<td class="text-right">
										<div class="dropdown">
											<a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
											<ul class="dropdown-menu pull-right">
												<li><a href="/leave_records/<%= leave_record.id %>/edit"><i class="fa fa-pencil m-r-5"></i> Edit</a></li>
											</ul>
										</div>
									</td>
								</tr>
							<% end %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="add_leave_record" class="modal custom-modal fade" role="dialog">
	<div class="modal-dialog">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<div class="modal-content modal-lg">
			<div class="modal-header">
				<h4 class="modal-title">Add Leave Record</h4>
			</div>
			<div class="modal-body">
				<%= render 'form', leave_record: @leave_record %>
			</div>
		</div>
	</div>
</div>

