<!DOCTYPE html>
<html>
  <head>
    <title>JoshHr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="main-wrapper">
      <%= yield %>
    </div>
    <div class="sidebar-overlay" data-reff="#sidebar"></div>
  </body>
</html>
